div {
    &.alert {
        width: 10vw;
        border-radius: .5em;

        &.alert-danger {
            background-color: rgba(200, 20, 10, .7);
            color: #fff;
        }

        .alert-header {
            width: inherit;
            text-align: right;
            padding-right: 1em;
        }
    }
}